body{
    background-color: #f0f0f0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: bold;
}

p{
    margin: 0;
}

video{
    width: 100%;
    height: auto
}

.container{
    margin-top: 20px;
}

.videoArea{
    position: relative;
}

.box1{
    position: absolute;
    background-color: #B2F2BB;
    width: 200px;
    height: 50px;
    top: 400px;
    left: 550px;
    cursor: pointer;
    z-index: 1000;
}

.box2{
    position: absolute;
    background-color: #B2F2BB;
    width: 200px;
    height: 50px;
    top: 400px;
    left: 150px;
    cursor: pointer;
    z-index: 1000;
}





.descArea{
    background-color: #fff;
    box-shadow: 0 0 3px #c8c8c8;
    padding: 15px;
    box-sizing: border-box;
}

.lightbox{
    display: none;
}

.longBtns{
    display: block; 
    /* take the entire width */
}